.page.bg1 {
    background-image: url("bg1.png");
}
.page.bg2 {
    background-image: url("bg2.png");
}
.page.bg3 {
    background-image: url("bg3.png");
}
.page.bg4 {
    background-image: url("bg4.png");
}
.page.bg5 {
    background-image: url("bg5.png");
}
.page.bg6 {
    background-image: url("bg6.png");
}
.page.bg7 {
    background-image: url("bg7.png");
}
.page.bg8 {
    background-image: url("bg8.png");
}
.page.bg9 {
    background-image: url("bg9.png");
}
.page.bg10 {
    background-image: url("bg10.png");
}
.page.bg11 {
    background-image: url("bg11.png");
}